version: '3.7'

services:
  db:
    image: mysql:5.7
    container_name: db
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: 'password'
    ports:
      - '3306:3306'
    volumes:
      - ./data:/var/lib/mysql

  adminer:
      image: adminer
      container_name: adminer
      restart: always
      ports:
          - 8081:8080
      depends_on:
          - db